html {
  box-sizing: border-box;
  font-size: @font-size;
  font-weight: @font-weight;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  color: @text-color;
}

h1 {
  font-size: @font-size--h1;
  color: @text-color--h1;
  font-weight: @font-weight--h1;
  margin: 40px auto 25px;
}

h2 {
  font-size: @font-size--h2;
  color: @text-color--h2;
  font-weight: @font-weight--h2;
  margin: 0 auto 30px;
}

p {
  line-height: @line-height--text;
  margin: 0;
  hyphens: manual;
}

a {
  color: @bg-color-blue--darker;

  .link-style();

}

img {
  display: block;
  max-width: 100%;
}

.invisible {
  display: none;
}

.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background-color: @bg-color-blue;
  color: @bg-color-bege;
  padding: 10px;
  border: 1px solid @bg-color-bege;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px grey;
}
